/* Main Section */

body{
    font-family: 'Ubuntu',sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat',sans-serif;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-size: 1.5rem;
    color: black;
}

.container-fluid{
    padding: 3% 15%;
}

button{
    padding: 100px;
}

/* Big Heading */

.big-heading{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
}

/* Title */
#title{
    background-color: #ff4c68;
    color: #fff;
}


/* Navigation Bar */

.navbar-brand{
    font-size: 2.5rem;
}

.navbar{padding:0 0 4.5rem;}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 30;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}


/* Title Image */

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    top:110px;
    
}

@media (max-width:1000px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        width: 80%;
        
    }
    }



/* Features */

#features{
    text-align: center;
    color: #8f8f8f;
    position: relative;
    z-index: 1;
    background-color:#fff;
}

@media (max-width:1000px){
    #features{
        z-index: 0;
        position: static;
    }
}

/* Feature Icons */

.fa-solid{
    color: #ef8172;
    margin-right: 20px;
}

.row{padding: 15% 0 15% 0;}

.feature-exp{
    padding: 0 3rem 0 3rem;
}

.fa-solid:hover{
    color: red;
    transition: 0.4s;
}

/* Testimonial */

#testimonials{
    
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press */

#press{
    background-color: #ef8172;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    text-align: center;
    padding: 7% 15%;
}

/* CTA */

#cta{
    text-align: center;
    line-height: 1.5;
    background-color: #ff4c68;
    color: #fff;
}

.seclast-line{
    font-size: 3.5rem;
    color: #fff;
}

/* Footer */

#footer{
    margin: 3% 15%;
    text-align: center;
    color: #8f8f8f;
    padding: 2% 10%;
}

.last-row{
    width: 20%;
    margin:0 40%;
    padding: 50px 0px 20px 0;
}

.icon-footer{
    color: black;
}
